* {box-sizing: border-box;}

body {
  font-family: system-ui;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background: #222;
  min-height: 100vh;
}

body, p {margin: 0;}

.score {flex-basis: 100%;}

.score_content {
  display: flex;
  gap: 1rem;
  background: #444;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
}

.score_player {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFF;
  background: #666;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.board, .painel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: clamp(18rem, 95%, 24rem);
  margin: 1rem;
}

.board:after {
  content: '';
  pointer-events: none;
  position: absolute; top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 2px #222;
}

.board_tile, .painel_button {
  text-align: center;
  font-size: clamp(0.7rem, 4vw, 1rem);
  font-weight: 600;
  display: flex;
  place-items: center;
  width: calc(33.3% + 0.008rem);
  aspect-ratio: 1 / 1;
  border: 2px solid #FFF;
  transition: background 300ms ease-in-out;
}
.board_tile:hover {background: #FFF4;}
.board_tile:nth-child(1) {color: #F00;}
.board_tile:nth-child(2) {color: #0F0;}
.board_tile:nth-child(3) {color: #24F;}
.board_tile:nth-child(4) {color: #FF0;}
.board_tile:nth-child(5) {color: #F08;}
.board_tile:nth-child(6) {color: #F0F;}
.board_tile:nth-child(7) {color: #F80;}
.board_tile:nth-child(8) {color: #80F;}
.board_tile:nth-child(9) {color: #08F;}

.tile_text {
  width: 100%;
  rotate: -45deg;
}

.painel {gap: 1rem;}

.painel_button {
  display: inline;
  cursor: pointer;
  font-size: 0.7rem;
  color: #ffffff;
  background: #444444;
  width: calc(33.3% - 1rem);
  padding-inline: 0.5rem;
  border: 1px solid #FFF;
  border-radius: 1rem;
}
.painel_button:hover,
.painel_button:focus-visible {
  background: #191919;
}

.mark {
  font-size: 4rem;
  color: #FFF;
  rotate: 0deg;
}

.disable {
  cursor: default;
  background: #320000;
}
