* {user-select: none; outline: none; padding: 0; border: 0; margin: 0;}

body {
  display: grid; grid: 1fr 85vh / 1fr 1fr;
  place-items: center;
  font-family: verdana;
  background: #222;
  height: 100vh;
}

.scoreboard {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  background: #444;
  width: 16em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.score-container {
  text-align: center;
  background: #666;
  width: 6em;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.score {
  text-transform: capitalize;
  font-size: 1.2em;
  color: #FFF;
}

.board {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  display: grid; grid: repeat(3, 1fr) / repeat(3, 1fr);
  width: clamp(16em, 100%, 26em); aspect-ratio: 1 / 1;
}

.board:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%; height: 100%;
  box-shadow: 0 0 0 3px #222 inset;
}

.tile {
  box-sizing: border-box;
  display: flex;
  justify-content: center; align-items: center;
  font-size: 1.2em;
  color: #FFF;
  width: 100%; height: 100%;
  border: 3px solid #FFF;
  transition: 200ms background linear;
}
.tile:hover {background: #444;}

.tile-text {
  font-size: 0.9em;
  transform: rotate(-45deg);
}

.tile:nth-child(1){
  color: blue;
}

.tile:nth-child(2){
  color: red;
}

.tile:nth-child(3){
  color: brown;
}

.tile:nth-child(4){
  color: yellow;
}

.tile:nth-child(5){
  color: white;
}

.tile:nth-child(6){
  color: green;
}

.tile:nth-child(7){
  color: orange;
}

.tile:nth-child(8){
  color: gray;
}

.tile:nth-child(9){
  color: purple;
}

.control {
  grid-area: 2 / 2 / 3 / 3;
  display: grid; grid: repeat(3, 1fr) / repeat(3, 1fr);
  place-items: center;
  width: clamp(16em, 100%, 26em); aspect-ratio: 2 / 1;
  gap: 20px;
}

.btn-control {
  box-sizing: border-box;
  font-size: 1.2em;
  width: 100%; height: 100%;
  background: #666;
  padding: 0.2em 0.5em;
  border: 1px solid #FFF;
  border-radius: 0.5em;
  transition: 200ms background linear;
}
.btn-control:hover {
  cursor: pointer;
  background: #444;
}

.btn-text {
  pointer-events: none;
  font-size: 0.8em;
  color: #FFF;
}

.mark {
  font-size: 4.5em;
  transform: rotate(0deg);
  color: white;
}

.selected {
  background: #333;
}
.selected:hover {
  cursor: default;
  background: #333;
}

@media only screen and (max-width: 600px) {
  body {grid: 1fr 55vh 30vh / 1fr}

  .scoreboard {grid-area: 1 / 1 / 2 / 2;}

  .board {
    grid-area: 2 / 1 / 3 / 2;
    width: clamp(10em, 100%, 20em); aspect-ratio: 1 / 1;
  }

  .control {
    grid-area: 3 / 1 / 4 / 2;
    width: clamp(10em, 100%, 20em); aspect-ratio: 2 / 1;
  }
}