* {padding: 0; border: 0; margin: 0;}

body {
  text-align: center;
  background-image: url("./imgs/isomeros.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.title {
  font-size: 3.2em;
  margin-top: 2em;
}

.main-container {
  display: block;
  margin: 4em auto 0;
}

.start {
  cursor: pointer;
  color: #FFF;
  background: #222;
  padding: 1em 2em;
  border: 1px solid #000;
  border-radius: 10px;
}
.start:hover {background: #888;}