@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  user-select: none; outline: none;
  box-sizing: border-box;
  font-family: 'Press Start 2P';font-weight: lighter;
  padding: 0; margin: 0; border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: #222;
  height: 100vh;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.container-header {
  text-align: center;
}

.title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #CCC;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #CCC;
}

.container-paragraph {
  width: 80%;
  margin: 1rem 0;
}

.paragraph {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #CCC;
}
.paragraph:nth-child(1) {
  margin-bottom: 1rem;
}

.button-start {
  cursor: pointer;
  width: 15rem;
  color: #FFF;
  background: #C00;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
}
.button-start:hover {
  background: #800;
}